/*-- scss:defaults --*/

$presentation-title-slide-text-align: left !default;

/*-- scss:rules --*/


.reveal .slide-logo {
    width: auto !important;
    height: auto !important;
    max-height: 4rem !important;
    left: 16px;
}

.reveal .slide-menu-button {
    left: 8px;
    bottom: unset;
    top: 8px;
}

.reveal .slide-number {
    top: unset !important;
    right: 8px !important;
    bottom: 8px !important;
    font-size: 24px !important;
}

.reveal .slide-number > a[href*='title-slide'] {
    display: none;
}
